.hero {
    background-image: url('/img/habana-background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text-container {
    color: white;
    transform: translateY(3rem);
    padding: 0 1rem;
    height: 100px;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1.3rem;
    overflow: hidden;
}

.hero-text-container p {
    text-wrap: wrap;
    height: 28px;
}

.typed-out {
    overflow: hidden;
    border-right: .15rem solid transparent;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s steps(25, end) forwards;
}

.typed-out.delayed {
    animation: typing 1.5s steps(25, end) forwards 1.5s;
}

.typed-out.delayed2 {
    animation: typing 1.5s steps(25, end) forwards 3s, blinking .8s infinite 4.5s;
}

.arrow-down {
    position: absolute;
    color: white;
    bottom: 8rem;
    animation: floating 1s forwards  infinite;
}

@keyframes typing {
    0% {
        width: 0;
        border-right-color: orange;
    }
    
    98% {
        width: 100%;
        border-right-color: orange;
    }
    
    100% {
        width: 100%;
        border-right-color: transparent;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }

    to {
        border-color: orange;
    }
}

@keyframes floating {
    0% {
        bottom: 8rem;
    }

    35% {
        bottom: 6.5rem;
    }

    100% {
        bottom: 8rem;
    }
}

@media (width >= 360px) {
    .hero-text-container {
        font-size: 1.5rem;
        height: 110px;
    }

    .hero-text-container p {
        height: 32px;
    }
}

@media (width >= 700px) {
    .hero-text-container {
        font-size: 2rem;
        height: 148px;
    }

    .hero-text-container p {
        height: 43px;
    }
}

@media (width >= 1024px) {
    .hero-text-container {
        transform: translateY(1rem);
    }
}