.article-card {
    width: 90%;
    margin: auto;
    padding-top: 1.5rem;
    max-height: 150px;
    
}

.article-card a {
    color: black;
}

.article-card h3 {
    font-size: 1.4rem;
    position: relative;
}

.article-card p {
    margin: 1rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}