/* @import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;

}

:root {
  --text-color: #000;
}

body {
  position: relative;
  z-index: 1;
}

section {
  margin-bottom: 2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  transition: all .3s;
}

.nav.background {
  background-image: url('/habana-background.jpg');
  background-position: center;
  background-size: cover;
}

.nav h1 {
  margin-left: 1rem;
  color: white;
}

.nav i {
  color: white;
  margin-right: 1rem;
}

.list-nav {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, .9);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

.list-nav.show {
  z-index: 2;
  left: 0;
}

.list-nav .close-menu {
  color: white;
  position: absolute;
  top: 1.8rem;
  right: .5rem;
}

.list-nav li {
  margin-bottom: 1rem;
}

.list-nav li a {
  color: white;
  font-size: 1.5rem;
}

.article-page {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
}

.article-page h1 {
  margin-bottom: 1rem;
}

.dashboard-container {
  margin-top: 50px;
  height: 1000px;
}