.error-notification {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(236, 96, 96);
    color: white;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.error-notification small {
    text-wrap: nowrap;
}