.whatsapp-bubble {
    position: fixed;
    z-index: 3;
    bottom: 4rem;
    right: 1.5rem;
    background-color: rgb(2, 205, 2);
    /* box-shadow: 1px 1px 20px 3px rgb(2, 205, 2); */
    padding: .5rem;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse .5s forwards alternate infinite;
}

.whatsapp-bubble a {
    color: white;
}

@keyframes pulse {
    from {
        transform: scale(1);
        box-shadow: 1px 1px 12px 3px rgb(2, 205, 2);
    }
    
    to {
        transform: scale(1.1);
        box-shadow: 1px 1px 20px 3px rgb(2, 205, 2);
    }
}