.whoami {
    /* padding: 0 2rem; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.whoami h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}


.whoami p {
    text-wrap: balance;
    text-align: justify;
    text-indent: .5rem;
    color: rgb(84, 80, 80);
}

.whoami p::first-letter {
    font-size: 1.5rem;
    margin-right: 3px;
    color: rgb(84, 80, 80);
}